[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.lr13_1
Exec=/usr/bin/ru.template.lr13_1
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=lr13_1
ExecDBus=/usr/bin/ru.template.lr13_1
